a {
  color: #4285f4
}
.text {
  margin-left:10%;
  width:80%;
}
.container {
  display: flex;
}
.flexbox {
  width: 100%
}
h2 {
  color:#4285f4;
}
@media only screen and (max-width: 1000px){
  .container {
    display: block;
  }
  .flexbox {
    width: 100%;
  }
  
}
